MAKER_ADDR=0x7D7A4820355E8597e089BEeB15cEa308cEf3eda3
RPC_URL_ETH=https://eth-mainnet.g.alchemy.com/v2/lf0K6YBV99NO61_A1shkz
SOLANA_RPC=https://devnet.helius-rpc.com/?api-key=1b0094c2-50b9-4c97-a2d6-2c47d4ac2789
TELEGRAM_BOT_TOKEN=7714757245:AAEkkEVCrzf_YYIX74zhcPZkmYJJVdArRbI
MAKER_KEY=
SOL_PRIVATE_KEY=
TOKEN_CONTRACT_ADDRESS=
